<ui>
  <menubar>
    <menu action="FichierMenuAction">
      <menuitem action="NouveauAction" />
      <menuitem action="OuvrirAction" />
      <menuitem action="QuitterAction" />
    </menu>
    <menu action="AideMenuAction">
      <menuitem action="AideAction" />
      <menuitem action="AproposAction" />
    </menu>
  </menubar>
  <toolbar>
    <toolitem action="NouveauAction" />
    <toolitem action="OuvrirAction" />
    <toolitem action="QuitterAction" />
	<separator />
	<toolitem action="Binarize"/>
	<toolitem action="Detection"/>
	<separator/>
    <toolitem action="AideAction" />
	<toolitem action="AproposAction" />
  </toolbar>
</ui>

